@import "../../../variables";

.sidebar {
  width: 25rem;
  min-height: 70rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-color;

  &-header {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    margin: 2rem 2rem;
  }

  &-title {
    color: $white-background;
    font-size: 3rem;
  }
}
