@import "../../../variables";

.sidebar {
  width: 25rem;
  min-height: 70rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-color;
  z-index: 100;
  transition: width 0.2s ease-in-out;

  &-header {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    margin: 2rem 2rem;
  }

  &-title {
    color: $white-background;
    font-size: 3rem;
  }

  // Styling when the menu is closed
  &.compressed {
    width: 9rem;
    .sidebar-title {
      display: none;
    }
    .sidebar-header {
      margin-left: 3.3rem;
    }
    .sidebar-button_label {
      display: none;
    }
  }
}
