@import "../../../variables";

.mainPage {
  width: 100vw;
  min-height: 100vh;
  background-color: $light-background;
  padding: 5rem;
  display: flex;
  justify-content: flex-end;
  position: relative;

  &-container {
    width: calc(100% - 250px);
    height: 100%;
  }

  .log-out {
    position: absolute;
    right: 2rem;
    top: 1rem;
    display: flex;
    align-items: center;

    &_name {
      font-size: 1.6rem;
      font-weight: 300;
      color: $grey-medium;
      margin-right: 2rem;
    }
  }
}
