$primary-color: rgb(223, 126, 62);
$light-background: rgb(236, 236, 236);
$white-background: rgb(253, 253, 253);
$black: rgb(22, 22, 22);
$grey-light: rgb(196, 196, 196);
$grey-medium: rgb(124, 124, 124);
$grey-dark: rgb(77, 77, 77);
$transition-btn: all 0.1s ease-in-out;
