$primary-color: rgb(223, 126, 62);
$primary-color-transparent: rgba(255, 231, 96, 0.2);
$light-background: rgb(243, 243, 243);
$white-background: rgb(253, 253, 253);
$black: rgb(22, 22, 22);
$grey-light: rgb(196, 196, 196);
$grey-medium: rgb(124, 124, 124);
$grey-dark: rgb(77, 77, 77);
$transition-btn: all 0.1s ease-in-out;
$user-icon: rgb(250, 178, 96);
