@import "../../../variables";

.logs-container {
  width: 100%;
  max-height: 50rem;
  overflow-y: scroll;
}

#table-logs {
  max-width: 160rem;
  border: 1px solid $grey-light;
  border-radius: 5px;
  border-collapse: collapse;

  tbody {
    background-color: $white-background;
  }
}

.noLogs {
  text-align: center;
}
