@import "../../../variables";

.search {
  margin-top: 5rem;
  width: 85%;
  padding-bottom: 4rem;
  border-bottom: 1px solid $grey-light;
  &-status {
    margin-top: 4rem;
    display: flex;
    justify-content: flex-start;

    &_list {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        margin: 0 1rem;
        width: auto;
      }
    }
  }

  &-element {
    display: flex;
    justify-content: space-between;
    width: 50rem;
  }

  &-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    label {
      font-size: 1.4rem;
      color: $grey-medium;
    }

    select {
      width: 20rem;
      height: 3.5rem;
      border-radius: 6px;
      border: 1px solid $grey-light;
      padding: 0.5rem;
      margin-top: 0.7rem;
      color: $grey-dark;

      &:focus {
        outline: 1px solid $primary-color;
      }
    }
  }
}
