@import "../../variables";

.checkbox {
  position: relative;
  input {
    position: absolute;
    opacity: 0;

    &:checked + label {
      background-color: $primary-color;
      color: $white-background;
    }
  }
  label {
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 1rem;
    background-color: none;
    color: $grey-dark;
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
  }
}
