@import "../../../../variables";

.logPreview {
  border-bottom: 1px solid $grey-light;
  &_item {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .category {
    text-transform: capitalize;
  }
}
